.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    text-align: center;
    
    &__side{
        
        height: 50rem;
        font-size: 2rem;
        transition: all 1.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 5px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
        &--front{
            background-color: white;
            &__header{
                height: 40%;
                // background-color: black;
                background-blend-mode: lighten;
                clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
                overflow: hidden;
                &__title{

                    font-size: 2.4rem;
                    color: white;
                    text-transform: uppercase;
                    text-align: right;
                    position:absolute;
                    top: 7rem;
                    right: 2rem;
                    width: 75%;
                    span{
                        -webkit-box-decoration-break: clone;
                        box-decoration-break: clone;
                        padding: 1rem 1.5rem;
                        background-image: linear-gradient(to right, rgba($color-orange-light, 1), rgba($color-orange-dark,1)) ;
                        
                    }
                }
                &-1{
                    background: linear-gradient(to right, rgba($color-orange-light, 0.8), rgba($color-orange-light, 0.8)), url('./../../media/nat-5.jpg');
                    background-size: cover;
                    position: relative;
                    &__title{
                        span{
                            background-image: linear-gradient(to right, rgba($color-orange-light, 1), rgba($color-orange-dark,1)) ;                            
                        }
                    }
                }

                &-2{
                    background: linear-gradient(to right, rgba($color-primary-light, 0.7), rgba($color-primary-light, 0.7)), url('./../../media/nat-6.jpg');
                    background-size: cover;

                    &__title{
                        span{
                            background-image: linear-gradient(to right, rgba($color-primary-light, 1), rgba($color-primary-dark,1)) ;                            
                        }
                    }
                    
                }
                &-3{
                    background: linear-gradient(to right, rgba($color-blue-light, 0.7), rgba($color-blue-light, 0.7)), url('./../../media/nat-7.jpg');
                    background-size: cover;

                    &__title{
                        span{
                            background-image: linear-gradient(to right, rgba($color-blue-light, 1), rgba($color-blue-dark,1)) ;                            
                        }
                    }
                    
                }
            }
            &__list{
                position: absolute;
                width: 100%;
                top:45%;
                padding:10px 4rem 10px 4rem;
                margin: 0 auto;
                li{
                    padding-top: 1rem;
                    margin: 0 auto;
                    height: 4.5rem;
                    list-style: none;
                    font-size: 1.5rem;
                    text-decoration: none;
                    border-bottom: 0.4px solid rgb(192, 192, 192);
                    background-color: $text-grey-light;
                }
            }
        }
        &--back{
            
            transform: rotateY(180deg);

            .card__price-box{
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%,-50%);
                color: white;
                // text-align: center;
                .card__price-only{
                    text-transform: uppercase;
                    font-size: 1.4rem;
                }

                .card__price-value{
                    font-size: 6rem;
                    font-weight: 100;
                }
                
                position: absolute;
                top: 40%;
                left:50%;
                transform: translate(-50%,-50%);
            }

            .btn--white{
                top: 70%;
                width: auto;
            }

            &-1{
                background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
            }
        }
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
        
    }
}