//colores
$color-primary: #55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark: #28b485;
$text-grey-dark : rgb(105, 105, 105);
$text-grey-medium:rgb(139, 139, 139);
$text-grey-light:rgb(247, 247, 247);
$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

//TextSizes
$default-font-size : 16px;
$paragraph-font-size: 1.5rem;

//grid
$horizontal-space: 60px; //6rem
$vertical-space: 50px;