.About-Us{
    width: 100%;
    height: 90vh;
    &--Title{
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        //background-color: #e0a4a4;
        text-align: center;
        background: linear-gradient(to right, #d4a9a9 0%, #ad6666 100%);
        color: #f4f4f4;
        transition: all 1.5s;
        &:hover{
            transform: skewY(5deg) skewX(2deg) scale(1.1);
            text-shadow: 5px 4px 2px rgb(196, 194, 194);
        }
    }
}

.Features{
    width: 100%;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("./../../media/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);

    & > *{
        transform: skewY(7deg);
    }
}
.Tours{
    padding: 20rem 0 10rem 0;
    text-align: center;
}

.Stories{
    padding-top: 15rem 0 15rem 0;
    background-color: $text-grey-light;
}